body { font-family: Arial; margin: 0; }
header, footer { background: #222; color: yellowgreen; padding: 10px; text-align: center; }
body{background-color: lightblue;}
nav { display: flex; justify-content: center; gap: 15px; background: #ddd; padding: 10px; }
section { padding: 15px; }
table { border-collapse: collapse; width: 100%; }
td, th { border: 1px solid black; padding: 5px; }

@media (max-width: 600px) {
  nav { flex-direction: column; }
}
